<div class="bread-crumbs bread-home">
    <div class="wrapper">
        Topluluğumuz öğrenmek konusunda tutkulu herkes için her zaman açıktır. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. laboris nisi ut aliquip ex ea commodo consequat.
        <a href="/katil/">
            <div class="button">Bize Katıl!</div>
        </a>
    </div>
</div>
<div style="clear:both"></div>
<footer class="site-footer">

    <div class="wrapper">
        <div class="grids">
            <div class="grid">
                <h3>Sayfalar</h3>
                <ul>
                    <li>Anasayfa</li>
                    <li>Hakkında</li>
                    <li>Üyeler</li>
                    <li>CTF Geçmişi</li>
                </ul>
            </div>
            <div class="grid">
                <h3>Sayfalar</h3>
                <ul>
                    <li>Anasayfa</li>
                    <li>Hakkında</li>
                    <li>Üyeler</li>
                    <li>CTF Geçmişi</li>
                </ul>
            </div>
            <div class="grid">
                <h3>Sayfalar</h3>
                <ul>
                    <li>Anasayfa</li>
                    <li>Hakkında</li>
                    <li>Üyeler</li>
                    <li>CTF Geçmişi</li>
                </ul>
            </div>
            <div class="grid">
                <h3>İletişim</h3>
                <ul>
                    <li>E-posta</li>
                    <li>Twitter</li>
                    <li>Github</li>
                    <li>Ankara Üniv.</li>
                </ul>
            </div>
            <div style="clear:both"></div>

        </div>
        <div style="clear:both"></div>
        <div class="copyright">&copy; 2017 AUCC &middot; Tüm içerik <a href="http://ozgurlisanslar.org.tr/creative-commons/attribution-noncommercial-cc-by-nc/" target="_blank">CC Lisansına</a> tabidir.</div>
    </div>

</footer>
