---
layout: default
---

<h1 class="post-title">CyberCamp</h1>
<p>Siber güvenliğe ilgi duyup da nereden başlayacağınızı bilmiyorsanız, sizin için referans olabilecek bir path oluşturuyoruz.</p>
<hr>
<br>

<article class="post">
    
    <div class="container">
        <h3>Intro</h3> {{ content }}
        {% assign posts = site.categories.intro | sort: 'index'  %}
        {% for post in posts %}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a><br> 
        {% endfor %}
        <br>       

        <hr>
        <br>
    </div>
    <div class="container">
        <h3>Linux 101</h3> {{ content }}     
        {% assign posts = site.categories.linux | sort: 'index'  %}
        {% for post in posts %}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a><br>
        {% endfor %}
        <br>       

        <hr>
        <br>
    </div>
    <div class="container">
        <h3>Network</h3> {{ content }}
        {% assign posts = site.categories.network | sort: 'index'  %}
        {% for post in posts %}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a><br>
        {% endfor %}
        <br>        
        <hr>
        <br>
    </div>
    <div class="container">
        <h3>Web</h3> {{ content }}
        {% assign posts = site.categories.web | sort: 'index'  %}
        {% for post in posts %}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a><br>
        {% endfor %}
        <br>       
        <hr>
        <br>
    </div>
</article>