<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="icon" type="image/png" href="../faviconnew.png" >

<body>

    {% include header-home.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <div class="icon-nav" style="display:none">
                <ul>
                    <li><i class="material-icons">announcement</i> Duyurular</li>
                    <li><i class="material-icons">chat</i> Toplantılar</li>
                    <li><i class="material-icons">keyboard_hide</i> Blog Yazıları</li>
                    <li><i class="material-icons">vpn_key</i> CTF Write-Up</li>
                </ul>
            </div>
            <div class="home">

                <div class="post-cat">
                    <h1 class="page-heading">Duyurular</h1> {{ content }}

                    <ul class="post-list">
                        {% for post in site.categories.news %}
                        <li>
                            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                            <h2>
                          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        </h2>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="post-cat">
                    <h1 class="page-heading">Blog Yazıları</h1> {{ content }}
                    <ul class="post-list">
                        {% for post in site.categories.blog %}
                        <li>
                            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                            <h2>
                          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        </h2>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </main>

    {% include footer.html %}
    <script src="/assets/glitch.js"></script>
</body>

</html>
