---
layout: default
comments: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

<br>
{% if page.author%}
<h3>Yazara ait diğer yazılar</h3>
    {% for post in site.posts %}
        {% if page.author == post.author  %}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }} </a><br>
        {% endif %}
    {% endfor %}
{% endif %}
  </div>
{% include disqus_comments.html %}

    
</article>
